body {
  background-color: #5B829F;
}

#board td {
  width: 50px;
  height: 50px;
  border-style: none;
  background-color: #252627;
}

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  /* circles are boring */
}

.piece.p1 {
  background-color: #BB0A21;
}

/*  red and blue are boring */
.piece.p2 {
  background-color: #4B88A2;
}

#column-top td {
  border-style: none;
  /*  outlines are boring */
  background-color: #D3D4D9;
}

#column-top td:hover {
  background-color: #FFF9FB;
}